[2015-08-18 13:20] fommil opened #5 "please use a GPL compatible license"
The EPL is not compatible with the GPL :cry: can you please relicense under something that is compatible? Some ideas here https://en.wikipedia.org/wiki/License_compatibility#GPL_compatibility

I'd personally prefer if you chose a copyleft license such as LGPL or MPL as that would ensure that the language remains free.

[2015-08-18 13:23] wizardbeard commented on #5
Not everyone loves the GPL, nor should they necessarily be forced to use a GPL-flavored license.

[2015-08-18 13:27] LuxLang commented on #5
@fommil

I'm not a licenses buff, so I really don't know of any negative impact that the EPL might have on Lux users.

Could you please tell me what problems would arise from using the EPL and how does the EPL not make Lux free?

I'm willing to consider a *GPL license if it doesn't force users to have to make their own software free (or impose any other uncomfortable restrictions).

[2015-08-18 13:30] fommil commented on #5
@LuxLang it means that users can't use Lux to write GPL applications :cry:

[2015-08-18 13:33] fommil commented on #5
@LuxLang if you chose LGPL or MPL it would **not** force users to use GPL for their app, but it would allow them to do so. It would also have the added benefit that any changes that anybody makes to Lux would also have to be made available, so that you could have the option to incorporate it back into the language.

In contrast, if you used an open source / free software license such as Apache lic

[2015-08-18 13:40] LuxLang commented on #5
I'll take a look at both LGPL & MPL and see if they're a good fit for Lux.

[2015-08-18 13:55] wizardbeard commented on #5
I recommend the MIT license as it doesn't force commercial developers to release proprietary code back to the community at large.

-----Original Message-----
From: "LuxLang" <notifications@github.com>
Sent: ‎8/‎18/‎2015 9:27 AM
To: "LuxLang/lux" <lux@noreply.github.com>
Cc: "Ramon J. Long III" <ramonjlongiii@gmail.com>
Subject: Re: [lux] please use a GPL compatible license (#5)

@fommil
I'm not a

[2015-08-18 14:08] fommil commented on #5
@wizardbeard if the language is LGPL or MPL, it doesn't mean that users of Lux would need to change their licenses i.e. you could still build proprietary systems on top of an LGPL Lux. Indeed, if there is no runtime component to Lux, you could even make it GPL and users still wouldn't need to release (as is the case for both Java and GCC, actually).

My recommendation is for the Lux compiler to be

[2015-08-18 14:11] fommil opened #6 "gitter channel"
Running a free software community, you'll benefit from a https://gitter.im channel. It's much easier for people to start a discussion there than mailing lists. In ENSIME, we've found that much more people engage with us through the issue tracker, twitter and gitter than the mailing list.

[2015-08-18 14:16] wizardbeard commented on #5
MIT license is superior in every way.  Why do GPL enthusiasts always come across as entitled to fruits of another organization's commerical labor?  javac is ubiquitous largely due to a massive advertising budget in the 1990's.

[2015-08-18 14:29] fommil commented on #5
I believe this is a choice to be made by the authors of Lux. Let's give them time to make an informed decision for:

1. the compiler (which won't imply anything to the license of applications written in Lux)
2. the standard library (which might have consequences on bundling of downstream applications)

which can be:

* Copyleft Free Software licenses (such as LGPL, MPL) will ensure that extensions

[2015-08-18 14:30] bodil commented on #5
Regardless of the merits of the GPL, choosing a licence which doesn't actively prohibit users from applying the GPL to their own software is _not_ the same as forcing the GPL's restrictions on everybody. @wizardbeard, suggesting such a thing is somewhat disingenuous.

I did a lot of research into the issue of the Eclipse licence and its incompatibilities when I was doing Clojure, and my licence of

[2015-08-18 14:31] fommil opened #7 "code of conduct?"
If you're building a community, I recommend putting one in place. In ENSIME, we welcome contributors with this page https://github.com/ensime/ensime-server/blob/master/CONTRIBUTING.md which leads to https://github.com/ensime/ensime-server/wiki/Code-of-Conduct

It's really good to have one in place just incase a bad apple comes along, who destroys everything that you've worked for.

[2015-08-18 14:32] fommil commented on #7
(FYI, a lack of Code of Conduct almost killed Scala back in the early days)

[2015-08-18 14:36] fommil commented on #5
Heh, I just realised that if EPL of Clojure means you can't write GPL software with it, then you actually can't release your compiler as GPL... it could only be LGPL if it were to be copyleft.

OK, in that case I change my recommendation to:

* LGPL for the compiler
* MPL or Apache for the standard library

[2015-08-18 14:40] fommil commented on #5
@bodil where did you see that file header boilerplate is needed? https://www.mozilla.org/MPL/2.0/FAQ.html#full-copy-only seems to suggest that MPL can be applied project-wide. (sorry, if we're hijacking the thread we can take it to twitter or gitter)

[2015-08-18 14:46] bodil commented on #5
@fommil It's entirely possible I missed that on my reading of the MPL. :blush: That's good news, then - the MPL is a good licence too, apart from that requirement I was too lazy to oblige which apparently isn't a strict requirement after all.

I'd recommend using the same licence for the compiler and the standard library, though, or things could get more complicated than they need to be.

[2015-08-18 14:59] fommil commented on #5
@bodil also, https://github.com/fommil/dotfiles/blob/master/.emacs.d/init.el#L218 would have solved that even if it was a requirement :wink: c.f. https://github.com/fommil/dotfiles/blob/master/.emacs.d/snippets/scala-mode/newfile https://github.com/fommil/dotfiles/blob/master/.emacs.d/snippets/emacs-lisp-mode/newfile

[2015-08-18 14:59] LuxLang commented on #6
Sweet. I'll take a look as soon as I've got some free time.

[2015-08-18 15:03] LuxLang commented on #7
I'm not big on the whole idea of codes of conduct, as I don't like policing people's behavior (that often devolves into policing their opinions and then that devolves into kicking out those who refuse to drink the Kool-Aid).

With that said, I'll take a look into it and maybe I can come up with a code of conduct that's lightweight, yet effective.

[2015-08-18 15:05] fommil commented on #7
That's basically what we did too... we just used an existing tried and tested CoC instead of writing one from scratch. The big trigger for me was realising that people weren't contributing because we didn't have a CoC. I've never heard of anybody not contributing because there is a CoC (unless they were the bad apple). Better to be safe than sorry.

[2015-08-18 15:25] wizardbeard commented on #5
Forcing developers to release their patches under the GPL is antithetical to the ideals of freedom that the FSF pays so much lip service to.

-----Original Message-----
From: "Sam Halliday" <notifications@github.com>
Sent: ‎8/‎18/‎2015 10:59 AM
To: "LuxLang/lux" <lux@noreply.github.com>
Cc: "Ramon J. Long III" <ramonjlongiii@gmail.com>
Subject: Re: [lux] please use a GPL compatible license (#5)

@

[2015-08-18 17:40] melrief commented on #5
The developer is free to pick the license and "force" patches under that license. This makes a lot of sense because in this way you avoid all the problems related to patches with a different license than the one of the project.

[2015-08-18 18:01] kryptt commented on #5
@wizardbeard No one should ever argue freedom has no bounds. An individual's freedom stops once it encroaches over another's. Different people / projects / teams have different priorities.

Licences and codes of conduct set the boundaries each team / project is comfortable with. Some projects expect you to trust blindly and use as directed, others require you to share your patches back, another gr

[2015-08-19 23:55] teaforthecat opened #8 "NoClassDefFoundError: lux_data_io/IO in example program"
Going through the readme, the example program compiles, but doesn't run.

Here are the commands I ran after checking the lux program out into "lux"
[code]

were those the right commands commands to run? Thanks!

[2015-08-20 00:13] LuxLang commented on #8
Hmmm... Funny stuff...

I downloaded the .jar for the v0.2 compiler and it all worked fine.
Also tested the code for v0.2 using a REPL, and again it worked fine.

Check the target/jvm dir and look for the "lux_data_io" dir. Inside, among others, there should be the file IO.class. That file also gets packaged inside program.jar

If you can, upload your program.jar file somewhere and post me a link

[2015-08-20 00:28] LuxLang commented on #8
Wait...
That might suggest the file exists and is packaged, but the .class file has the wrong name internally (`io` instead of `IO`). Please upload the JAR if you can so I can take a look.

[2015-08-20 01:05] teaforthecat commented on #8
I don't understand, don't you see the same result?

[2015-08-20 01:11] teaforthecat commented on #8
here is the jar: https://www.dropbox.com/s/cvdwa9t441r1c77/program.jar?dl=0

[2015-08-20 01:40] kryptt commented on #8
sounds like a case senstive filesystem detail.

[2015-08-20 02:30] LuxLang commented on #8
@kryptt Indeed, it appears to be so.

@teaforthecat in the .jar you uploaded, there is IO.class, but no io.class (the .class generated for the `io` macro [not to be confused with the `IO` type]).

Also, when I checked IO.class the, internal name it had was `lux_data_io/io`, which is incorrect.
In the program.jar file that I generate, both classes are there & both of them have the correct name.

Al

[2015-08-20 02:41] teaforthecat commented on #8
I'm using a mac

[2015-08-20 03:02] LuxLang commented on #8
Try this out to find out if your HD is case-insensitive:

http://apple.stackexchange.com/questions/71357/how-to-check-if-my-hd-is-case-sensitive-or-not

___

I'll be thinking of ways to make the compiler generate classes in a way that's not dependent on case, to avoid having this same issue in the future.

[2015-08-20 03:12] teaforthecat commented on #8
Indeed, it is case-insensitive. Good find! I'll be looking forward to a fix. Thanks!
[code]

[2015-08-20 03:19] LuxLang commented on #8
If you want to play with Lux right now instead of waiting for a fix, you can go to the `lux/data/io` module and change the name of the `io` macro to something else (it's used in a few places inside that module, so you'll have to change those references).

The only other instance I can think of where there are definitions with similar names is in `lux.lux`, which contains both the (exported) `List`

[2015-08-20 15:29] LuxLang commented on #6
There is now a Gitter group for Lux.

[2015-08-20 15:29] #6 closed

[2015-08-24 05:23] LuxLang commented on #5
Alright, so I've read about Apache 2.0, LGPL 3.0 & MPL 2.0

Apache seems lightweight, but I don't like the idea of someone taking my code and making all kinds of changes without contributing anything back. It's not a huge problem for me, but I'd rather avoid it.

LGPL seems like it's out of the question. At first it sounded reasonable, but I looked up criticisms of it on Google and found something

[2015-08-24 06:24] fommil commented on #5
:smile:

[2015-08-24 13:14] GlenKPeterson commented on #5
If you use the Mozilla Public License, and I get permission at work to contribute to this project and I actually make a code contribution, I have then modified the code.  Does that mean that when I use the modified version at work, that we have to distribute our proprietary source when we distribute our executable, because now we've modified your code?

I can use Apache, MIT, BSD, and Eclipse-lice

[2015-08-24 13:15] SethTisue commented on #5
re: LGPL, you're right that it treats dynamic and static linking differently. but does anybody statically link libraries anymore? it seems like an edge case to me rather than a serious downside.

(regardless, I think MPL is a fine choice)

[2015-08-24 13:25] fommil commented on #5
@GlenKPeterson you'd have to distribute your source modifications of Lux, but not of your app. But in your scenario, you've already obliged that requirement by making a "code contribution" (which I assume you meant was back to LuxLang) so you wouldn't have any further action to take.

[2015-08-24 13:27] fommil commented on #5
@SethTisue there was a clarifying point made by the FSF on this in the JVM http://www.gnu.org/licenses/lgpl-java.en.html

It's still open to interpretation, but I would consider a single jar bundle to be equivalent to static linking, which is relevant for some people.

[2015-08-24 14:45] wizardbeard commented on #5
I think the MPL is a fine choice over GPL and LGPL for the reasons you enumerated.

-----Original Message-----
From: "LuxLang" <notifications@github.com>
Sent: ‎8/‎24/‎2015 1:23 AM
To: "LuxLang/lux" <lux@noreply.github.com>
Cc: "Ramon J. Long III" <ramonjlongiii@gmail.com>
Subject: Re: [lux] please use a GPL compatible license (#5)

Alright, so I've read about Apache 2.0, LGPL 3.0 & MPL 2.0
Apache

[2015-08-24 15:28] LuxLang commented on #5
@GlenKPeterson:
As I understand it, you only need to release your changes to the compiler. If your apps uses the modified compiler, it doesn't matter. The MPL doesn't cover your app, only the contributions to the compiler (and you were going to release it anyway).

@SethTisue I agree with @fommil regarding the static linking issue.
Imagine creating an uberjar of your program that contains the Lux

[2015-08-24 15:46] fommil commented on #5
@LuxLang @GlenKPeterson and to the stdlib

[2015-08-24 15:47] bodil commented on #5
I've no objections to the MPL, which is a fine, strong copyleft licence, but as has been previously mentioned, Apache 2 contains provisions for patent trolling, like the EPL and *GPL, whereas the MPL does not. (And, ironically, people are telling me the exact wording of the patent provisions is what actually makes the EPL and GPL incompatible.) Whether that's an issue or not is up to you - if it i

[2015-08-24 15:53] GlenKPeterson commented on #5
OK, so because I've contributed the modification back to the original source, when I refresh the project from the original source it counts as unmodified.  Seems very reasonable.  Thanks for the clarification!

[2015-08-24 16:42] LuxLang commented on #5
@bodil Check this out: http://en.swpat.org/wiki/Patent_clauses_in_software_licences#Mozilla_Public_License

[2015-08-24 16:45] bodil commented on #5
Oh, in that case, I'd say the choice is obvious. :blush:

[2015-08-24 16:46] LuxLang commented on #5
Seems like there's agreement.
I'll wait until the end of the day in case anybody else pops up with a complaint.

If by the end of the day the consensus holds, MPL will be the chosen one.

[2015-08-24 17:19] yurrriq commented on #5
Generally I prefer BSD, MIT or something even more open (WTF, public domain), but in this case MPL seems like a good compromise and probably the best fit.

[2015-08-25 02:47] LuxLang commented on #5
The day is over and consensus has been maintained.
MPL is the chosen one.

As soon as I'm done with a set of changes to the compiler I'm working on, I'll make a new commit changing the license.

[2015-08-25 02:47] #5 closed

[2015-08-25 03:14] yurrriq commented on #5
:tada:

[2015-08-25 07:52] bodil commented on #5
Much appreciated. :blush:

[2015-08-25 08:08] fommil commented on #5
:+1:

[2015-08-25 20:16] kirked commented on #5
@LuxLang The README still claims EPL!

[2015-08-26 02:16] LuxLang commented on #5
@kirked That's because you're looking at the v0.2 README.
The README will state MPL for v0.3 onwards.

[2015-08-31 16:32] LuxLang commented on #8
Fixed in branch v0.3

[2015-08-31 16:32] #8 closed

[2015-09-01 05:55] teaforthecat commented on #8
I'm still getting an error `java.lang.NoClassDefFoundError: lux/List (wrong name: lux/list)`

Here are the steps I ran:
[code]
the stacktrace is a little different:
[code]

[2015-09-01 10:36] LuxLang commented on #8
Oh, yeah. Sorry. I didn't think you'd try again so soon.

I hadn't pushed the changes to the GitHub repo. I just did, so you shouldn't have any trouble now.

[2015-09-01 11:16] LuxLang commented on #8
By the way, the `list` and `list&` macros are now `@list` and `@list&`, and the `io` macro is now `@io`.

[2015-09-01 11:54] LuxLang commented on #8
. . .

There was a change in the standard library, so simply recompiling the compiler won't be enough. You also need to recompile the Lux program (the updated source-files are all in the repo)

. . .

^ ^ ^ The above command won't work well for you without recompiling the program.

[2015-09-01 15:19] LuxLang commented on #8
Try with the latest version in the repo, as it comes with a fix for the pattern matching macro and some extra corrections.

[2015-09-02 01:04] teaforthecat commented on #8
I'm not sure what you mean by "recompiling the program" . I need to build the compiler, and then run the compiler on the program right?

[2015-09-02 01:07] teaforthecat commented on #8
It works! Yeah thanks! I see "Hello, world!"

[2015-09-02 14:19] LuxLang commented on #7
Adopted the **Contributor Covenant** as the project's code of conduct.
http://contributor-covenant.org/

[2015-09-02 14:19] #7 closed

[2015-09-02 14:36] fommil commented on #7
:smile:

[2015-11-25 17:35] LuxLang opened #13 "Concurrency in Lux"
I've been thinking for a while on what the right concurrency primitives should be for Lux.
There are a few considerations the design should take into account in order to satisfy all that's needed.

1. The library/model should work on all of the supported platforms for Lux in the same way.
2. Lux should ideally provide the most primitive, but usable, concurrency model, so that more advanced infrast

[2015-11-25 18:56] wavebeem commented on #13
It's extra confusing when you think about JS-land where "promise" is the readable portion of a future-like thing, and the constructor function is the writable portion.

When you get around to making Lux compile to JS, there will need to be at least support for promises to deal with native APIs returning them.

Can the other approaches be implemented in a single-threaded environment like JS?

[2015-11-25 19:06] LuxLang commented on #13
For that, I'd just need to do the same tricks ClojureScript uses for its core.async implementations.
It's definitely do-able.

That could be done by having a function for translating JS's promises to Lux's.
Another alternative would be to just use a JS-native promise implementation (though I don't know how feasible that would be, as I don't know if there are JS-promises in all modern browsers...)

[2015-11-25 19:11] wavebeem commented on #13
Promise support is decent but not perfect http://caniuse.com/#search=promise

Using native has the benefit of better console debugging, so it might be worth including an optional shim and otherwise using native.

<img width="427" alt="screen shot 2015-11-25 at 11 10 51 am" src="https://cloud.githubusercontent.com/assets/176815/11407036/3a608aa0-9365-11e5-9b70-cf6b09331885.png">

[2015-12-25 16:10] #13 closed

[2016-02-06 23:53] Arjuna144 opened #14 "Compiler in infinite loop"
Hello there,

I was playing with lux a bit, and ran into an infinite loop with this code:

[code]

Most likely the mistake is on my side too, since I still don't understand all, what I am using there...
I am still using luxc3.1.jar since I am getting the following error with luxc.3.2.jar and the following

[code]
[code]

[2016-02-07 12:58] Arjuna144 commented on #14
My bad, I found my errors!

[2016-02-07 16:28] LuxLang commented on #14
Hi, @Arjuna144

There were some important changes to Lux as a language in v0.3.2 that cause the v0.3.1 stdlib to not compiler (which was probably the error you got, since I see the _lux_def form you showed there lacks meta-data, which was a v0.3.2 addition).

I'm waiting until I'm done with v0.3.3 to document those changes, since some stuff requires a bit more polishing (I fixed a bug with tuples

[2016-02-07 16:28] #14 closed

[2017-01-10 05:13] sirinath opened #23 "ASL 2.0 + MIT"
Can you have a non copyleft license like Boost, BSD, MIT, ASL 2.0?

[2017-01-10 09:31] LuxLang commented on #23
As far as I'm aware, the MPL 2.0 license only forces copyleft on any code that changes the original licensed files.

That means you could link to an MPL 2.0 project and that wouldn't force you to make your own source-code open-source.

The only thing MPL 2.0 does is make sure that nobody can come later, take your open-source code and repackage it as closed-source for themselves, and make new versi

[2017-01-10 11:14] sirinath commented on #23
It is upto you to choose the license but there some businesses which does not whitelist copyleft licenses.  Therefore, if this takes off quite a companies might not be able to use it regardless of they want to fork it or not.

[2017-01-10 11:24] LuxLang commented on #23
That's a valid point.

I'll give it some thought.

[2017-01-10 11:38] sirinath commented on #23
You will have to choose soon as you might not be able to change the license once you get many contributors as you will have to get their agreement.

[2017-01-11 13:55] chrand opened #24 "repl not working on osx"
osx 10.11, jdk 1.8.0_112. The first toy project in the book, chap. 1, works. REPL shows the following error at start (below, `../lux_test/..` is `../my_project/..`)
`$ lein lux repl`

`$ java -XX:+TieredCompilation -XX:TieredStopAtLevel=1 -XX:-OmitStackTraceInFastThrow  -cp $HOME/.m2/repository/com/github/luxlang/luxc-jvm/0.5.0/luxc-jvm-0.5.0.jar:$HOME/.m2/repository/com/github/luxlang/stdlib/0.5.

[2017-01-11 14:07] LuxLang commented on #24
Yes.

A change in the way the compiler works now messed with the REPL and the error skipped me.

I'll re-release v0.5.0 with a quick patch for it later today.

[2017-01-12 01:55] LuxLang commented on #24
I just released the patched version.

I re-released it as v0.5.0, to avoid causing inconvenience by making people have to change the version.

Try again with the REPL.

If you get the same error, clean the Maven cache at .m2 to make sure the lux-lein plugin downloads the Lux compiler again.

[2017-01-12 01:55] #24 closed

[2017-01-12 11:45] chrand commented on #24
awesome, thank you :)

[2017-01-15 20:59] lehitoskin commented on #23
On a related note, Racket has been gathering contributor permission to move the license from LGPL to MIT+Apache 2.0. I personally think the MPL is fine, just adding some food for thought.

[2017-01-15 23:09] tliron opened #25 "Vs. Typed Racket?"
Could you add a comparison to [Typed Racket](https://docs.racket-lang.org/ts-guide/)? What advantages to you see to Lux? Could you acknowledge advantages that Racket has?

[2017-01-15 23:11] LuxLang commented on #25
Not a bad idea.

I'll see if I write a wiki page about that during the week.

[2017-01-15 23:15] tliron opened #26 "Vs. Typed Clojure?"
What about a comparison to the [Typed Clojure](https://github.com/clojure/core.typed) project?

[2017-01-15 23:21] LuxLang commented on #26
Also possible.

Fun fact: I began Lux, in part, out of frustration with Typed Clojure.

Should be fun to dismantle it.

[2017-01-15 23:24] tliron commented on #26
:brings the popcorn:

[2017-01-16 04:40] sirinath commented on #23
I think it is a smart move as some organisations cannot use copyleft.

[2017-01-16 07:09] sirinath opened #27 "Vs. hackett"
Would be interested to know how you stack against [Hackett](https://github.com/lexi-lambda/hackett)

[2017-01-16 09:43] LuxLang commented on #27
I think Hackett is still too immature to go around picking fights with it.

For all I know, it may not even be around anymore within a year.

I don't want to be dismissive, but in the time I've been working on Lux, I've already seen a few languages that were more mature than Hackett get abandoned by their creators, so I want to wait a bit longer until I treat Hackett as an actual rival.

However,

[2017-01-16 09:43] #27 closed

[2017-01-16 10:12] LuxLang commented on #23
Ok, I'm open to making a change, if it's something that can really interfere with adoption.

My issues are these:

* I originally made the switch to MPL because some folks were worried about compatibility with GPL. MPL sounded reasonable, so I went with it.
* I find it a bit worrisome that I should go from using 1 license, to using 2 licenses. Also, which license you choose for Lux is at your disc

[2017-01-16 11:58] sirinath commented on #23
Some companies use license whitelisting. Whitelisted licenses are the common permissive licenses. If you want use something else you have negotiate that with the company or their legal department. For you you have to hire layers and for small time companies and contacter this expense is material.

You can just stick to ASL 2.0 with a few exceptions like for Swift: https://swift.org/LICENSE.txt

No

[2017-01-17 17:22] bsima commented on #25
Comparison to [Shen](http://shenlanguage.org/) would be interesting as well

[2017-01-18 13:42] LuxLang commented on #26
Done:
https://github.com/LuxLang/lux/wiki/Comparison-to-Typed-Clojure

[2017-01-18 13:42] #26 closed

[2017-01-18 13:46] LuxLang commented on #25
Also can do.

[2017-01-23 23:57] LuxLang commented on #25
@tliron https://github.com/LuxLang/lux/wiki/Comparison-to-Typed-Racket
@bsima https://github.com/LuxLang/lux/wiki/Comparison-to-Shen

[2017-01-23 23:57] #25 closed

[2017-01-24 00:02] LuxLang commented on #23
I'm thinking of migrating to MIT, since it seems the most compatible with both proprietary and FOSS needs.

I'll be making the shift over the week.

[2017-01-24 00:42] leontalbot opened #28 "Vs. Clojure Spec?"
What about a comparison to the Clojure Spec library?

[2017-01-24 02:04] LuxLang commented on #28
I think that's a little bit too specific.

Lux already provides part of that, with the property-based/generative testing machinery in the `lux/test` module.
There are also the pre-condition and post-condition macros `@pre` and `@post`.

So you can combine those things and get something close to Spec.

[2017-01-24 07:26] tliron commented on #25
I had no idea that you needed to pay for Shen to get concurrency. Stunning and damning.

[2017-01-24 09:35] chrand commented on #23
There was a mention on patents, which MIT does not really address. Some food for thought, irrespective of license text, which ofc can be specialized for Lux and/or Lux libraries, and can include custom paragraphs.
[http://law.stackexchange.com/a/9702](http://law.stackexchange.com/a/9702), last paragraph

[2017-01-24 10:26] #28 closed

[2017-01-24 10:40] LuxLang commented on #23
Lux currently doesn't involve any patents, so that shouldn't be an issue.

Should I ever patent anything related to Lux's compiler or standard library, I would grant free usage to those patents for both commercial and non-commercial purposes (which is equivalent to not patenting at all).

I'm not interested in sneaking time-bombs inside other people's code, or forcing people to buy a license.

I w

[2017-01-24 20:37] bsima commented on #25
@tliron Tarver has a rather idiomatic perspective on OSS licensing: https://groups.google.com/forum/#!searchin/qilang/bsd%2420clause%7Csort:relevance/qilang/mVSJIyp-OhM/0XreitQq-ywJ

Idk if he's "correct" or "incorrect" necessarily, but at least that's some context for ya

[2017-01-26 23:58] LuxLang commented on #23
Lux is now MIT licensed.

[2017-01-26 23:58] #23 closed

[2017-07-02 20:36] thewoolleyman opened #30 "Add Lux to the Wikipedia list of JVM languages"
Hi,

Just found out about Lux.  You should add it to [this page](https://en.wikipedia.org/wiki/List_of_JVM_languages) to get more exposure.  I know I had previously looked there for functional languages and never ended up finding out about lux, until I did a search for "ML JVM".

-- Chad

[2017-07-03 08:03] LuxLang commented on #30
Done.

[2017-07-03 08:03] #30 closed

[2017-08-22 10:10] mwgkgk opened #31 "NoSuchMethodError: java.lang.Long.parseUnsignedLong"
Both [helloworld](https://luxlang.gitbooks.io/the-lux-programming-language/content/chapter1.html) and [tutorial1](https://github.com/LuxLang/tutorial1) fail on `lein lux build` with:
[code]
`lein lux repl` fails with
[code]
[code]
Running Archlinux. No experience with Java or Clojure, so this might be something trivial. Clojure helloworld works fine, as does repl. Luxc version in `project.clj` is

[2017-08-22 10:54] mwgkgk commented on #31
As a followup question, what is the best way to build your projects against the git version of Lux? This probably has a simple answer involving `:plugin-repositories`, but I failed to find one, perhaps you could save me from a deeper dive into Leiningen docs

[2017-08-22 13:36] LuxLang commented on #31
This is because the compiler currently needs a method in java.lang.Long that is only available on Java 8.

You'll have to upgrade your JRE.

Regarding the REPL... You've just found a bug. Thanks!

I'll try to fix it and push a patched version later.

You could clone the repo and build everything yourself.

Doing `lein install` on all the repos should keep you up-to-date without needing my help.

`

[2017-08-22 13:57] mwgkgk commented on #31
Thank you. Have to say, love the project. So many sexy features. Such great docs. It has great future.

[2017-08-26 14:07] mwgkgk opened #32 "Return falsy value on failed build"
Current behavior:
[code]

For use in CI pipelines

[2017-10-03 22:26] denkspuren opened #37 "`lein lux build` doesn't work (JDK9)"
I tried to run the "hello world" example as described in [chapter 1](https://luxlang.gitbooks.io/the-lux-programming-language/content/chapter1.html) of the Lux book. Running `lein` terminated with a `java.lang.ClassCastException`. I guess it's because I'm using JDK9 on my computer.

[code]

[2017-10-03 22:53] denkspuren commented on #37
Did some research: The  `java.net.URLClassLoader` is used at [three places](https://github.com/LuxLang/lux/search?utf8=%E2%9C%93&q=java.net.URLClassLoader&type=) in the lux code base. It's a known problem under Java 9, as a quick search on Google reveals.

[2017-10-05 17:59] Gozala opened #39 "Proposal to simlify module imports"
@LuxLang I'm writing down a specific proposal with code snippets that I'm  happy to post here most up to date version, but can we discuss collaborate on draft on google docs or dropbox paper instead ? In my experience it provides a lot better interface for proposing edits and inline feedback.

[2017-10-05 18:10] LuxLang commented on #39
@Gozala Sure.

[2017-10-05 19:13] Gozala commented on #39
Here is the link to the current draft: https://docs.google.com/document/d/12ilq2c6lUI0FsFkYXuVvEx8uKBpf0vduUDuvit_mw1k/edit?usp=sharing

Anyone can comment or edit in suggestion mode, meaning that edits will be submitted as proposed change.

[2017-10-05 22:52] Gozala commented on #39
I think first draft is ready!

[2017-10-05 23:05] LuxLang commented on #39
I'll be annotating it with comments related to the current design, to add some context.

That could help find some middle point that we can all agree on.

[2017-10-05 23:07] Gozala commented on #39
Thanks! And by all means I expected it to require many refinements until it could reach something that can be adopted.

[2017-10-06 21:59] Gozala commented on #39
Moving discussion thread from the document here as google docs is better and providing edit suggestions but not great at lengthy discussions.

I'll respond to the comment in the document here instead of trying to fit it inside tho google doc thing:

[2017-10-06 22:08] Gozala commented on #39
I am not sure I'm totally following, so I'll try to offer my view and maybe pointing out when it breaks down would help me understand the issue.

My expectation that was that compiler will start with a entry point file and follow the dependency tree from there. My assumption is that reader will mark all instances like `module.fn` or `path/to/module.fn` as namespaced identifiers and presumably buil

[2017-10-06 22:18] Gozala commented on #39
That not to say that it does not complicates things, it does as imports aren't just declared but rather they can be scattered across the forms with-in the module and it well could be that complexity it would add the compiler is not worth the benefit of saving few keystrokes.

@eduardoejp if you think that is a case I can modify document to drop this and make import mandatory. That being said it wo

[2017-10-07 01:19] LuxLang commented on #39
@Gozala
The issue is that you write symbols like "my/module.my-function", but then the compiler has to figure out where that definition is located.

I mean, if definition "my/module.my-function" exists, then somewhere there must be a module called "my/module".
The question is: _where?_

If imports are not specified, then how will the compiler find such a module?

Now, you could say: _but, just loo

[2017-10-07 21:33] LuxLang commented on #39
OK, time to talk a bit about the current design of the Lux module system.

So, basically, the current system just maps the _logical concept_ of module, to the _physical reality_ of a `.lux` file.
If a module is named `foo`, it is assumed that _somewhere accessible_ there exists a file named `foo.lux`.
If a module is named `foo/bar/baz`, it is assumed that _somewhere accessible_ there exists a file

[2017-10-19 11:16] lostbean commented on #39
I agree with @eduardoejp in keeping import explicit and 1:1 mapping with the file structure. Allowing multiple modules per file would only be cool for single file/very small projects.

But I really like @Gozala's proposition of simplifying import. And, in my opinion, the following syntax is very simple and clean:

[code]

I'm also very much in favor of replacing `;` by `.` and being explicit about

[2017-10-19 20:51] Gozala commented on #39
My apologies for not getting back to this thread sooner, it's just I had lots going on in personal life. Unfortunately I won't be able to address everything right now so I'll have to keep it short & address all of the misunderstandings in the proposal document itself.

I think I may not have described intended behavior well enough. I would expect that compiler will consider doing following:

1. Lo

[2017-10-24 01:37] lostbean opened #40 "Add integration with dev tools"
Modern compilers have very good integration with development tools and [Language Sever Protocol](http://langserver.org/) seems to be very helpful to lower the effort to support a variate of editors/IDEs.

[2017-11-09 23:01] Tzeroxik opened #41 "Exception when trying to build"
tried building a lux project and got this exception when using both `lein lux build` and `lein lux auto build`

[code]
my project.clj

[code]

[2017-11-09 23:44] LuxLang commented on #41
Ooh wee...

Another one falls into that pit.

You're lucky.
Someone else had that issue last week and we managed to figure it out.

Basically, the lux-lein plugin is not playing well with the latest version of Leiningen.

To avoid any trouble using Lux right now, it's best to use Leiningen 2.7.1 and Java 8.

v0.6 will be updated to work with the latest Leiningen, and Java 9; but for now it's best

[2017-11-10 10:38] Tzeroxik commented on #41
Okay, It works fine now, thanks!

[2018-01-15 18:09] ghost opened #43 "Exception when trying to launch repl"
Hello, I get an exception when trying to execute `lein lux repl` in the shell, I have leiningen 2.7.1 java 1.8.0 and `lein lux build ` and `lein lux test` seem to work fine, here's my project.clj file:

 (defproject lux_tests "0.1.0-SNAPSHOT"
  :plugins [[com.github.luxlang/lein-luxc "0.5.0"]]
  :dependencies []
 :lux {:program "main"}
  :source-paths ["source"]
  )

and the error code:
lein lux r

[2018-01-16 01:33] LuxLang commented on #43
Yeah. The v0.5 REPL is currently broken (a bug that slipped prior to release).

[2018-01-16 06:05] Unlambder commented on #43
Yes I am running linux, the command ` eval "lein lux repl" ` doesn't throw a bash error  but the same error as ` lein lux repl `

[2018-01-24 13:46] PrsPrsBK commented on #43
Hi. I had the same problem, and built lein-luxc-0.5.0.jar from souce. jar works well.
I have lost log, but like this.

1. do `git clone` and navigate to lux directory
2. go back to ver. 0.5.0 (`git checkout -b somename` and `git reset --hard 0.5.0` or so)
3. navigate to lux-lein
4. `lein jar`
5. replace jar in maven local repository with `target`'s one (maybe I did by hand and confirmed)

And on W

[2018-04-19 10:14] DjebbZ opened #44 "Lux and GraalVM ?"
Hello,

I'm just a curious person that happens to use (and love) Clojure, so Lux is kinda interesting for me. With the recent announcement of Oracle's [GraalVM](https://blogs.oracle.com/developers/announcing-graalvm), did you already think of using it somehow for Lux ?

Thanks in advance for your answer.

[2018-04-19 10:27] LuxLang commented on #44
I've been keeping my eyes on GraalVM for a while now and find it very exciting.

While there is likely no direct benefit to using Graal with Lux (since Lux already compiles to JVM bytecode, and doesn't have the dynamic features of dynamic languages that would benefit from Graal's JIT technology), there are some indirect benefits.

The people behind Graal have implemented interpreters for some lang

[2018-04-19 10:35] DjebbZ commented on #44
Thanks for the fast and detailed answer. It makes sense.

Keep up the good work !

Le jeu. 19 avr. 2018 à 12:27, The Lux Programming Language <
notifications@github.com> a écrit :

[2018-04-19 10:38] #44 closed

[2018-05-26 15:28] leblowl opened #45 "Start Up Time"
I like the project, although I don't really understand most of the design decisions and what they would mean to me in real world applications (due to my own ignorance). I like the goal to target many platforms. I work with Clojure and it generally takes a long time to start for me. Is there any goal to minimize this start up time for Lux on JVM? Is this even possible? Thanks

[2018-05-26 15:43] LuxLang commented on #45
It isn't an explicit goal that I'm pursuing, but it's something I am mindful of.
One thing is that Clojure has a huge runtime infrastructure in the form of the clojure.jar dependency all Clojure programs include.
It brings in several JVM classes, plus the entirety of the Clojure standard library, and the Clojure compiler itself.

In contrast, the JVM backend for Lux just generates 2 classes for yo

[2018-05-26 15:55] leblowl commented on #45
Ok thanks, I will look into some of these points that you mention and do a
little research. I might have some more questions about this in the future,
but we can close this for now.

On May 26, 2018 09:43, "The Lux Programming Language" <
notifications@github.com> wrote:

Is there any goal to minimize this start up time for Lux on JVM?

It isn't an explicit goal that I'm pursuing, but it's somethi

[2018-05-26 16:09] #45 closed

[2018-06-14 10:44] opto-files commented on #43
Has there been any update to this situation?

If not, could someone expand on where this maven repo is? I'm not a java person but want to get the repl running so I can start learning!

[2019-03-15 22:57] #31 closed

[2019-09-18 10:26] fachammer opened #52 "Questions about syntax"
As I'm currently developing a [tree-sitter grammar for Lux](https://github.com/fachammer/tree-sitter-lux) I've looked at the syntax file you committed and I have some questions:

1. Is it valid to have consecutive commas inside a number or can there only be one comma between two numbers? So are the following valid naturals?
    - `1,,0` (= 10)
    - `123,,,,,456` (= 123456)
1. Are there plans to s

[2019-09-27 15:06] fachammer commented on #52
@eduardoejp Do you have any input on this?

Also some additional questions came up for me:
- What does the dot inside an identifier represent?
- What does it mean when an identifier has two dots in front?
- How would an expression like `identifer-1..identifier-2` be parsed?

[2019-09-28 18:07] eduardoejp commented on #52
Hello, @fachammer.

Sorry for the delay. I've been super busy this week.

You can have as many consecutive commas as you want.

The commas are there exclusively for human convenience, so the parser just strips out any commas that it finds.

Fracs: You **can** use exponential notation. I forgot to add that to the document.

Revs: You **cannot** use exponential notation. There are no plans to do so

[2019-09-29 07:56] fachammer commented on #52
Alright, thanks a lot for the detailed answer!

[2019-09-29 07:56] #52 closed

[2019-10-10 02:48] #41 closed

[2019-10-10 02:49] #37 closed

[2020-05-23 05:19] phlummox opened #53 "Clarify URL for "The Lux Programming Language""
The link given in the [README][readme-book] for the  "The Lux Programming Language" book is <https://www.gitbook.com/book/luxlang/the-lux-programming-language/details> which redirects to <https://legacy.gitbook.com/book/luxlang/the-lux-programming-language/details>. That takes me to a page which shows nothing but "Please log in to preview this content", and apparently logging in requires me to pro

[2020-05-23 05:32] phlummox opened #54 "Specify known good versions of JDK and Leiningen in documentation"
It seems it's a common stumbling block for people to be unable to build even a "Hello world" program in Lux due to their using versions of Leiningen and the JDK that Lux doesn't work with - e.g. #41.

Rather than just closing those issues, could I suggest that it might, perhaps, be useful to add to both the [README][readme-link] and to the [Lux book][lux-book] (assuming the URL I have for it is up

[2020-06-09 23:36] eduardoejp commented on #53
Hello, @phlummox !

I apologize for taking so long to answer. I just realized I wasn't "watching" this repository, so I didn't get any notification from GitHub when you created this issue.
I starting "watching" the repo, so that mistake won't happen again.

Anyhow, I just tried [the link that you gave](https://www.gitbook.com/book/luxlang/the-lux-programming-language/details), and [it did redirect

[2020-06-09 23:36] #53 closed

[2020-06-10 00:25] eduardoejp commented on #54
Hello, @phlummox !

I don't think I can give you a satisfactory answer for this, but at least I'd like to let you know where things stand.

I have focused (for a while... >_>) on finishing version 0.6 of the language.
Version 0.6 works with the latest Leiningen, and on Java 13.
Which is to say, I addressed the issue that you mentioned... but only for v0.6.

That is because I haven't worked on keep

[2020-06-10 00:25] #54 closed

[2020-06-25 05:16] phlummox commented on #53
Cheers - the Read button is currently displaying, yes - thanks for that. I was probably using a different browser when I posted this, though, so it may have been a browser issue.

[2020-06-25 05:18] phlummox commented on #54
No worries - would you accept a pull request amending the README, stating what the limitations are for 0.5? That might be handy for future people who come across it.

And good luck with v0.6 - keen to see it!

[2020-06-25 07:20] eduardoejp commented on #54
Sure. I'd welcome such a PR. :)

[2020-08-13 22:26] rschmukler opened #55 "Commercial License?"
My understanding is that the lack of commercial use means that:

1) A company could not build software written in Lux that they intended to sell.
2) A company could not use software written in Lux internally to help them operate their business.

Am I interpreting this correctly?

Do you intend to allow commercial use at some point in the future? Do you intend to sell licenses to it in the future?

[2020-08-27 00:13] eduardoejp commented on #55
Apologies for not answering earlier.

I thought the "Watching" option for this repo would notify me whenever someone opened a new issue, but that doesn't appear to be the case.

I'll have to find some way to always get notified.

Anyhow...

Yes.

I do intend to sell commercial licenses for v0.6.
Currently, I'm just focusing on finishing v0.6.

[2020-08-27 00:13] #55 closed

[2020-08-27 19:21] rschmukler commented on #55
Awesome! Happy to hear that you will be facilitating commercial use at some point. Good luck w/ v0.6!

[2021-04-01 18:26] stephenBDT opened #56 "Integrate ideas from unison"
https://www.unisonweb.org/

https://www.youtube.com/watch?v=gCWtkvDQ2ZI

Basically, as far as I undestand it, this should not be it's own language. The ideas are AMAZING and should/could be incorperated into any 'new' language.

Maybe you considered the idea of addressing code by hash instead of "names" and it doesn't work for lux.
If that is the case, just ignore this :)

much love :)

[2021-05-06 04:40] zikajk opened #57 "Gitbook link does not work"
Gitbook link in repo redirects to Gitbooks title page.

[2021-05-18 13:08] eduardoejp commented on #57
https://github.com/LuxLang/lux/commit/20a3f2650e2e72b5f4e525bee8a6354a711f575b

[2021-05-18 13:08] #57 closed

[2021-05-20 21:02] eduardoejp commented on #56
Hi, @stephenBDT !

I've been aware of Unison for a while, but I never dove too deeply into they ideas of the language since I already had a lot on my plate and I thought it best to save it for later.

However, I felt prompted by your comment to take a look and I got to watch/read some resources to get an idea of what Unison proposes.

I checked out the following videos, and the Unison website ( ht

[2021-05-22 14:39] #56 closed

[2021-05-25 00:16] #39 closed

[2021-07-13 02:52] eduardoejp commented on #32
Fixed in the new Aedifex build tool for Lux.

[2021-07-13 02:52] #32 closed

[2021-10-02 14:40] fachammer opened #60 "Exception when trying to run program built with Lux"
Hi, I'm really happy that there is a new release of Lux! So I wanted to get started and learn some basics. However, when following along chapter 1 of the book I am getting an issue when trying to run the built program. Following the steps in [section 3](https://github.com/LuxLang/lux/blob/30100903886160f8e187e8da4a7d4c9cafe6c50e/documentation/book/the_lux_programming_language/chapter_1.md#question

[2021-10-02 15:20] eduardoejp commented on #60
Hello, @fachammer .

I'll look into this issue, as it's not an error I was expecting to see.

I think I might have ran into it before, during the release process, as I was testing something on the Python compiler, but it was the first and only time I ever saw it, so I chalked it up to some weird one-off occurrence.

I'll try to replicate it and see how I can fix it.

[2021-10-02 16:33] jcranch commented on #60
If it's any help, I have been able to replicate this issue, running the new release of Lux on Debian stable.

I am also keen to start experimenting with the language, and am grateful for the efforts in the recent release to make it easier to do so.

[2021-10-07 22:01] ahribellah commented on #60
I'm having this same issue on Windows 10. For more info, here's some of the log from the attempts to grab the repositories needed for the build. I followed the instructions in the getting started chapter.

[code]

[2021-10-09 08:20] eduardoejp commented on #60
Apologies for the delay.

I've been terribly busy these past few days.

v0.6.2 should no longer exhibit this problem: https://github.com/LuxLang/lux/releases/tag/0.6.2

Also, please update your `aedifex.jar` file.

[2021-10-09 10:29] fachammer commented on #60
@eduardoejp I had to delete the `target` folder of the project where I was testing Lux before, but that is to be expected, I guess. After that, building with the new `aedifex.jar` seems to work now. Great!

[2021-10-09 10:29] #60 closed

[2021-11-02 16:21] ahedgewitch commented on #40
Personally, something I'm going to be looking into is [Glamorous Toolkit](https://gtoolkit.com/). It's got the most support for Pharo (Smalltalk) atm, but that's also what it was written in. Its main advantage is that it's built from the ground up to not only be a code editor, but an analysis and visualization environment, as well. It also already has tools for analyzing Java and JavaScript code,

[2021-11-02 16:47] eduardoejp commented on #40
@ahedgewitch
I've never heard of Glamorous Toolkit, but you sold me with Phato/Smalltalk.

If this is good enough for the smalltalk people, it's good enough for me.

I don't have a lot of cycles to spare on this ATM, but I'm definitely looking into it in the future.

[2021-12-15 19:02] ahedgewitch commented on #40
https://zed.dev/

Another editor to keep an eye on.

[2022-02-27 22:42] ahedgewitch opened #64 "Aedifex doesn't run in headless JVMs"
See this build job: https://builds.sr.ht/~hedgewitch/job/704798

Aedifex can't access the console in CI because CI services use headless JVMs.

[2022-02-28 18:37] atilde opened #65 "There needs to be a features matrix for each backend"
Not all features are supported on all backends. Most notably, I've seen Lua omitted in several places. There needs to be a features matrix that users can refer to to see what stdlib features are available to each backend.

[2022-02-28 19:36] eduardoejp commented on #65
It depends on what you mean by "feature".

All fundamental features of Lux are supported by all back-ends.

If that weren't the case, the back-end wouldn't exist since it couldn't support the standard library, which is were Lux is truly embodied (more-so than the compilers themselves).

With that said, there are some differences:
Example #1: Lux/JVM features multi-core concurrency, since the JVM p

[2022-02-28 19:36] atilde opened #66 "Document use of sigils in standard library"
There are a lot of naming schemes and a lot of sigils that are used in the standard library. They should be documented.

[2022-03-15 22:28] eduardoejp commented on #40
* https://microsoft.github.io/debug-adapter-protocol/
* https://www.chris-kipp.io/blog/the-debug-adapter-protocol-and-scala
* https://build-server-protocol.github.io/
*

[2022-04-05 23:15] dyerw opened #67 "JS build fails for hello world example"
I was following along in the book and wanted to try compiling to JS.

project.lux:
[code]

  source/main.lux
[code]

  when I run `lux build` I get

[code]

Let me know if you need any other info

[2022-04-06 00:45] eduardoejp commented on #67
Switch this line:

[code]

For this one:

[code]

The JS compiler is a .js file meant to be run with Node.

[2022-04-06 00:48] eduardoejp commented on #67
If you're wondering why there's also a .jar file for `lux-js` that does absolute nothing, it's because Nexus won't let me release anything unless I can trick it into thinking I'm deploying a Java library, so I need to upload dummy .jar files for the `lux-js` compiler.

[2022-04-07 16:58] dyerw commented on #67
Ah! Thanks!

[2022-04-16 19:59] eduardoejp commented on #43
Somebody e-mailed me with regards to the state of the Lux REPL.
I thought it might be worthwhile to paste my reply here, in case anybody else has the same concerns:

[2022-07-09 18:36] eduardoejp commented on #66
No more sigils for v0.7.

[2022-07-09 18:36] #66 closed

[2022-08-20 04:48] jgarvin commented on #65
Users who aren't totally familiar with each platform might not realize that Lux isn't going to implement a low latency parallel compacting GC for them ;)

I'd maybe suggest:
Red -- Not supported because platform can't
Yellow -- Not supported because Lux hasn't implemented support
Green -- Supported

[2022-08-20 18:15] eduardoejp commented on #65
@jgarvin
Thank you for the color coding suggestion. It's fantastic.